body {
    margin: 0;
    box-sizing: border-box;
    size: 1px;
}

.one{
  color:white;
  border-radius: 100px 50px;
  background-color: rgb(171, 88, 5);
  cursor: pointer;
  font-size: 25px;  
  border-width: 10px;
  box-shadow: 3px 3px 3px 3px rgb(25, 22, 22);
  
  }
  .one:hover {
    background-color:#161515;
  }
   
  .right1{
    box-shadow: 5px 5px 5px 5px rgb(25, 22, 22);
  }
    
.btn {
        background-color: rgb(139, 47, 24); 
        border: solid rgb(255, 253, 253); 
        color: rgb(248, 242, 242); 
        padding: 7px 19px;
        font-size: 20px; 
        cursor: pointer; 
        border-radius: 60px;
        border-width: 20px;
        box-shadow: 0 8px 16px 0 rgba(21, 2, 90, 0.2), 0 8px 20px 0 rgba(61, 70, 9, 0.3) ;

    }

 .btn:hover {
        background-color: rgb(0, 8, 1);
      }

  table{
      background-color:white;
  }

  .container .left {
    line-height: 140%;
}

.container .content {
  line-height: 200%;
}

.container .right {
  line-height: 130%;
}


.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    background-color:chocolate;
    text-shadow: #222222;
  }
  
  .header h1 {
    color: #222222;
    font-size: 30px;
    font-family: "Pacifico", cursive;
  }

  .left {
    float: left;
    width: 185px;
    margin: 0;
    padding: 1em;
   
  }

  .right{
    float: right;
    width: 185px;
    margin: 0;
    padding: 1em;
    box-shadow: 3px 3px 3px 3px rgb(238, 111, 8);
  }
  
  .content {
    margin-left: 190px;
    border-left: 1px solid #d4d4d4;
    padding: 1em;
    overflow: hidden;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0;
    background-color: aquamarine;
  }
  .A{
      background-color: aquamarine;
  }
  
  th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  tr  {
    background-color: rgb(220, 114, 8);
    color: rgb(58, 5, 5);
    text-shadow:#9a0606;
  }
  
  tr table {
    display: block;
    font-size: 35px;
    text-align: center;
  }
  
  .footer {
    padding: 55px 20px;
    background-color: #2e3550;
    color: white;
    text-align: center;
  }
  .int{
      width: 500px;
      height: 400px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      
  }
  .vii{
width: 500px;
height: 400px;
position: relative;
left: 50%;
transform: translateX(-50%)

  }

  .bg {
   
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

